# Cars 数据集

### Step 1. 导入库

In [1]:
import numpy as np
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context # 全局取消证书验证

### Step 2. 导入数据，并命名为cars1，cars2：[cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
cars1 = pd.read_table(url1, sep=',') 
cars2 = pd.read_table(url2, sep=',')

### Step 3. 了解数据

In [3]:
cars1.shape, cars2.shape

((198, 14), (200, 9))

In [4]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. 删除cars1未命名的列

In [5]:
cars1 = cars1.dropna(how='all', axis=1)

### Step 5. 合并cars1、cars2为cars

In [6]:
cars = pd.concat((cars1, cars2), axis=0)

In [ ]:
cars = cars1.append(cars2)

### Step 6. 添加一列owerns，值为15000到73000的随机数

In [7]:
 cars['owners'] = np.random.randint(15000, 73001, cars.shape[0])

# Student Alcohol Consumption 数据集

### Step 1. 导入数据，并命名为df：[address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [9]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_table(url, sep=',')

### Step 2. 选择 'school' 列到 'guardian' 列为新的df

In [10]:
df = df.loc[:, 'school': 'guardian']
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 3. 大写 Mjob 列和Fjob列

In [11]:
df['Mjob'] = df['Mjob'].apply(lambda x: x.capitalize())
df['Fjob'] = df['Fjob'].apply(lambda x: x.capitalize())
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 4. 新建一列根据年龄判断能否喝酒（17岁为界限）

In [12]:
df['legal_drinker'] = np.where(df['age']>17, True, False)

### Step 5. 将数据集中数字乘以10

In [13]:
def f(x):
    if type(x) == int or  type(x) == float:
        return x*10
    else:
        return x

In [14]:
df.applymap(f)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother,False
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother,False
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother,False
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother,False
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother,False
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,reputation,mother,False
11,GP,F,150,U,GT3,T,20,10,Services,Other,reputation,father,False
12,GP,M,150,U,LE3,T,40,40,Health,Services,course,father,False
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,course,mother,False
14,GP,M,150,U,GT3,A,20,20,Other,Other,home,other,False
15,GP,F,160,U,GT3,T,40,40,Health,Other,home,mother,False
16,GP,F,160,U,GT3,T,40,40,Services,Services,reputation,mother,False
17,GP,F,160,U,GT3,T,30,30,Other,Other,reputation,mother,False
18,GP,M,170,U,GT3,T,30,20,Services,Services,course,mother,False
19,GP,M,160,U,LE3,T,40,30,Health,Other,home,father,False
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,reputation,mother,False
21,GP,M,150,U,GT3,T,40,40,Health,Health,other,father,False
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,course,mother,False
23,GP,M,160,U,LE3,T,20,20,Other,Other,reputation,mother,False
24,GP,F,150,R,GT3,T,20,40,Services,Health,course,mother,False
25,GP,F,160,U,GT3,T,20,20,Services,Services,home,mother,False
26,GP,M,150,U,GT3,T,20,20,Other,Other,home,mother,False
27,GP,M,150,U,GT3,T,40,20,Health,Services,other,mother,False
28,GP,M,160,U,LE3,A,30,40,Services,Other,home,mother,False
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,course,mother,True
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,other,mother,True
367,MS,F,170,R,GT3,T,10,10,Other,Services,reputation,mother,False
368,MS,F,180,U,GT3,T,20,30,At_home,Services,course,father,True
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,other,father,True
370,MS,F,190,U,LE3,T,30,20,Services,Services,home,other,True
371,MS,M,180,R,LE3,T,10,20,At_home,Services,other,father,True
372,MS,F,170,U,GT3,T,20,20,Other,At_home,home,mother,False
373,MS,F,170,R,GT3,T,10,20,Other,Other,course,mother,False
374,MS,F,180,R,LE3,T,40,40,Other,Other,reputation,mother,True
375,MS,F,180,R,GT3,T,10,10,Other,Other,home,mother,True
376,MS,F,200,U,GT3,T,40,20,Health,Other,course,other,True
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,course,mother,True
378,MS,F,180,U,GT3,T,30,30,Other,Other,home,mother,True
379,MS,F,170,R,GT3,T,30,10,At_home,Other,reputation,mother,False
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,home,father,True
381,MS,M,180,R,GT3,T,20,10,Other,Other,other,mother,True
382,MS,M,170,U,GT3,T,20,30,Other,Services,home,father,False
383,MS,M,190,R,GT3,T,10,10,Other,Services,other,mother,True
384,MS,M,180,R,GT3,T,40,20,Other,Other,home,father,True
385,MS,F,180,R,GT3,T,20,20,At_home,Other,other,mother,True
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,reputation,mother,True
387,MS,F,190,R,GT3,T,20,30,Services,Other,course,mother,True
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,course,mother,True
389,MS,F,180,U,GT3,T,10,10,Other,Other,course,mother,True
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True